body, html {
  margin: 0;
  background: #DCF6F8;
  font-family: 'Source Sans Pro';
  font-weight: 900;
}

html {
  height: 100%;
}

body {
  height: inherit;
  overflow: hidden;
}

h1, p {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 42px;   
}
p {
  font-size: 20px;  
}
div {
  overflow: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
}

ul {
  margin: 0;
}